{% load static %}
{% load bootstrap3 %}


<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-12 page-header" style="background-color: #a6e1ec; height: 7%" >
    <div class="col-md-offset-9 col-md-3" >
        {% ifequal '' request.user.username %} <a href="{% url 'login' %}">login</a> <a href="{% url 'signup' %}">signup</a> {% else %} <a href="/home/user/{{request.user}}">{% bootstrap_label request.user %}</a> <a href="{% url 'logout' %}">logout</a> {% endifequal %}

    </div>
</div>
    <div>
        {% block sidebar %}
        <div class="col-md-3 col-xs-3" >
            {% include 'qa/sidebar.html' %}
        </div>
        {% endblock %}
        <div class="container">
            <div class=" col-md-6 col-xs-6">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% block footer %}
{% endblock %}
</body>
</html>