{% extends 'qa/base.html' %}

{% block content %}
<div class="col-md-8 col-xs-2">
    <table class="table">
        {% for p in page.object_list %}
        <tr class="table-responsive">
            <td><a href="/question/{{p.id}}">{{ p }}</a></td>
            <td>{{ p.added_at }}</td>
            <td>{{ p.rating }}</td>
            <td>{{ p.author }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


<div class="col-md-offset-2 col-md-6 col-xs-12">
    <ul class="pagination">
        {% for p in paginator.page_range %}
            {% if p == page.number %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
            <a href="{{paginator.baseurl}}{{ p }}">{{ p }}</a>
            </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}