{% extends 'qa/base.html' %}

{% block content %}

<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          {{ question.title }}        {{ question.author }}
      </div>
      <div class="panel-body">{{question.text}} </div>
    </div>
    <div>

    </div>
</div>

<div class="col-md-12 col-xs-12 col-sm-12">
<div class="panel panel-default">
    <div class="panel-heading">Answers</div>
    <div class="panel-body">
        <table class="table table-bordered">
            {% for a in answers %}
                <tr class="nav">
                    <td>{{ a.text }}</td>
                    <td>{{ a.added_at }}</td>
                    <td>{{ a.author }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


<form class="form" method="post" action="{{ request.path }}">
    {% include 'qa/field_form.html' %}
    <input type="hidden" name="question" value="{{ question.id }}">
    <input type="hidden" name="author" value="{{ request.user.id }}">
</form>

{% endblock %}